/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background: #2c3e50;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav {
    background: #3498db;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.project {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.project h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project p {
    font-size: 1rem;
    color: #666;
}

#languages ul {
    list-style: none;
    padding: 0;
}

#languages ul li {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.icon-language {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .project {
        padding: 0.5rem;
    }

    .project h3 {
        font-size: 1.25rem;
    }

    .project p {
        font-size: 0.875rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
