/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

header {
    position: relative;
    color: #fff;
    height: 100vh;
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
    color: #fffbf5;
    border-bottom: 2px solid #fffbf5;
}

main {
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    padding: 20px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6e45e2;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: #6e45e2;
}

.experience-item, .certifications, .skills {
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.experience-item ul {
    list-style-type: disc;
    margin-left: 20px;
}

.experience-item li {
    margin-bottom: 8px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: #6e45e2;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

footer p {
    margin: 0;
}
